<div class="container px-5 px-sm-0">
  <div id="error_explanation">
    <%= render 'layouts/errors', obj: @book %>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to user_path(@book.user_id) do %>
            <%= image_tag @book.user.get_profile_image, size: "100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <!--いいね機能-->
          <td id="favorite_btn_<%= @book.id %>">
            <%= render "favorites/btn", book: @book %>
          </td>
          
          <!--<td>-->
          <!--  % if @book.favorited_by?(current_user) %>-->
          <!--    <span>-->
          <!--      %= link_to(book_favorite_path(@book), class:"text-danger", method: :delete) do %>-->
          <!--        <i class="fa fa-heart" aria-hidden="true"></i> <%= @book.favorites.count %>-->
          <!--      % end %>-->
          <!--    </span>-->
          <!--    % else %>-->
          <!--    <span>-->
          <!--      %= link_to(book_favorite_path(@book), class:"text-primary", method: :post) do %>-->
          <!--        <i class="fa fa-heart" aria-hidden="true"></i> <%= @book.favorites.count %>-->
          <!--      % end %>-->
          <!--    </span>-->
          <!--  % end %>-->
          <!--</td>-->

          <% if @user == current_user %>
          <td>
            <%= link_to 'Edit', edit_book_path(@book.id), class: "btn btn-sm btn-success" %>
          </td>
          <td>
            <%= link_to 'Destroy', book_path(@book.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
          </td>
          <% end %>

        </tr>
      </table>

      <!--コメント表示機能-->
      <table>
        <tbody>
          <% @book.book_comments.each do |book_comment| %>
          <tr>
            <td>
              <%= link_to user_path(book_comment.user_id) do %>
                <%= image_tag book_comment.user.get_profile_image, size: "50x50" %><br>
                <%= book_comment.user.name %>
              <% end %>
            </td>
            <td><%= book_comment.comment %></td>
            <td>
              <% if book_comment.user == current_user %>
                <%= link_to "Destroy", book_book_comment_path(book_comment.book_id, book_comment.id), method: :delete, class: "btn btn-danger" %>
              <% end %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <!--コメント投稿機能-->
      <%= form_with(model:[@book, @book_comment]) do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, rows:'5', class: "form-control" %>
        </div>
        <%= f.submit "送信", class:"btn btn-info mt-2" %>
      <% end %>
    </div>
  </div>
</div>